# OpenAI API Key (Find this at https://platform.openai.com/)
OPENAI_API_KEY=your_api_key_here

# Django Secret Key
DJANGO_SECRET_KEY=your_django_secret_key_here

# Database Settings
DB_NAME=hari1-db
DB_USER=postgres_hari
DB_PASSWORD=localpassword
DB_HOST=localhost
DB_PORT=5432

# GEMINI
GOOGLE_API_KEY=your_api_key_here
